{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>QR Attendance System</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body style="font-family: sans-serif;">
    {% include 'includes/navbar.html' %}
    <form action="" method="GET" class="form">
        <input type="text" name="search" class="search" required />
        <input type="submit" value="Search" style="background-color: grey; padding: 8px; border-radius: 10px; color: white; border: none;">
    </form>
    </ul>
    </nav>
    <div class="container">
        <button type="submit" class="add_student">
            <a href="{% url 'add-student' %}"> Add New Student</a>
        </button>
        <div class="time">
            <button type="submit" class="time_in">
                <a href="{%url 'time_in' %}"> Time-in</a>
            </button>
            <button type="submit" class="time_out">
                <a href="{%url 'save_timeout' %}">Time-out</a>
            </button>
        </div>
        <table class="table" border="1">
            <center><h4>Students List</h4></center>
            <thead>
                <th>Student Id</th>
                <th>Name</th>
                <th>Course</th>
                <th>Year</th>
                <th>Block</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.lastname }}, {{ student.firstname }}</td>
                    <td>{{ student.course }}</td>
                    <td>{{ student.year }}</td>
                    <td>{{ student.block }}</td>
                    <td>
                        <button type="submit" class="time_in">
                            <a href="student_update/{{ student.id }}">Edit</a>
                        </button>
                        <button type="submit" class="time_out">
                            <a href="{% url 'delete_student' student.id %}">Delete</a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'includes/pagination.html' %}
    </div>
</body>
</html>
